NimGame/bin/Debug/NimGame.exe
NimGame/bin/Debug/NimGame.exe.mdb
NimGame/obj/x86/Debug/NimGame.exe
NimGame/obj/x86/Debug/NimGame.exe.mdb
NimGame/obj/x86/Debug/NimGame.fsproj.FilesWrittenAbsolute.txt
NimGameServer/bin/Debug/NimGame.exe
NimGameServer/bin/Debug/NimGame.exe.mdb
NimGameServer/bin/Debug/NimGameServer.exe
NimGameServer/bin/Debug/NimGameServer.exe.mdb
